.App {
  text-align: center;
}

.App-logo {
  left: 7px;
  top: 5px;
  height: 120px;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}

.App-link {
  color: #61dafb;
}

.date-slider {
  margin: 20px;
}

@media only screen and (max-width: 600px) {
  .App-logo {
    width: 100%;
    height: auto;
    left: 0;
  }
}
